body {
  font-family: arial;
  margin: 0;
  color: white;
  background-color: #2B2B2B;
}

.header {
  padding: 20px;
  text-align: left;
  background-color: #1ABC9C;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
}

.header li {
  list-style: none;
  float: right;
  text-align: center;
}

.header li a {
  color: white;
  text-decoration: none;
  margin: 2em;
  font-size: .9em;
  font-weight: normal;
  padding-bottom: 3px;
  border-bottom: 1px solid transparent;
}

.header li a:hover {
  border-bottom: 1px solid white;
}

.signup-form {
  align-items: center;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 10px;
}

.product-container div{
  /*border-radius: 25px;
  background-color: red;*/
  padding: 10px;
  text-align: center;
}

.product-container img {
  width: 7vw;
}

.product-container a {
  text-decoration: none;
  color: white;
  background-color: red;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.product-container a:hover {
  background-color: #c40e0e;
}

/* --------------- Form --------------- */

form {
  text-align: center;
  margin-top: 2vw;
}

form input {
  background-color: #525252;
  border: none;
  width: 400px;
  padding: 10px;
  margin-top: 7px;
  color: white;
  font-size: 1em;
}

form input::placeholder {
  font-style: italic;
}

form button {
  width: 420px;
  padding: 10px;
  margin-top: 7px;
  background-color: red;
  border: none;
  color: white;
  font-size: 1em;
}
