.main-container {
  display: grid;
  width: auto;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "img info"
    "stats stats"
    "review review";
  grid-gap: 20px;
  margin: 40px;
  margin-left: 20vw;
  margin-right: 20vw;

  background-color: blue;
}

.main-container h1 {
  margin: 0px;
}

.main-container h3 {
  margin: 0px;
  font-style: italic;
}

.main-container img {
  width: 100%;
}

.main-container > #img {
  grid-area: img;
}

.main-container > #info {
  grid-area: info;
  text-align: left;
}

/*.main-container > #add {
  grid-area: add;
  display: block;
  width: 100%;
}

#add p {
  display: inline-block;
  margin-right: 40px;
  float: left;
}

#add a {
 text-decoration: none;
 color: white;
 background-color: red;
 display: block;
 text-align: center;
 width: 200px;
 padding-top: 20px;
 padding-bottom: 20px;
 display: inline-block;
 float: right;
}*/

/*.grid-container {
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: auto 60px auto;
  grid-gap: 20px;
  margin: 40px;
  margin-left: 15vw;
  margin-right: 15vw;
}

.grid-container img {
  grid-row-start: 1;
  grid-row-end: span 2;
  width: 100%;
}

.grid-container h1 {
  margin-bottom: 0px;
}

.grid-container h3 {
  margin: 0px;
  font-style: italic;
}

 .grid-container a {
  text-decoration: none;
  color: white;
  background-color: red;
  display: block;
  text-align: center;
  width: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-block;
  float: right;
}

.grid-container p {
  display: inline-block;
  margin-right: 20px;
} */

/*.review-container {
  grid-column-start: 1;
  grid-column-end: span 2;

  display: grid;
  grid-template-columns: 300px auto;
  height: 200px;

}

.review-container textarea {
  width: 100%;
  height: 100%;
  resize: none;
}

.star-container {
  text-align: center;
  vertical-align: middle;
  margin: auto;
}

.star-container i {
  margin-right: 10px;
  font-size: 1.5em;
}*/
