.checkout-div {
  margin: auto;
  margin-top: 10%;
  margin-bottom: 100px;
  width: 30%;
  border-radius: 15px;
  background: white;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.checkout-header {
  padding: 10px;
  border-radius: 5px;
  font-size: 2em;
  font-weight: bold;
  background: #1ABC9C;
}

.checkout-form {
  padding: 20px;
  text-align: center;
}
